$color-white : #ffffff !default;
$color-black : #000000 !default;
$color-red : #f44336 !default;
$color-green : green !default;
$color-yellow : yellow !default;
$color-grey-light : #f4f4f4 !default;
$color-grey : #333 !default;

$color-primary: $color-green;
$color-secondary: $color-red;
$color-accent: $color-yellow;


$space-base   : 16px !default;
$space-x-base : $space-base !default;
$space-y-base : $space-base !default;

$space-none : (x: 0, y: 0) !default;
$space-xs   : (x: ($space-x-base * .25), y: ($space-y-base * .25)) !default;
$space-sm   : (x: ($space-x-base * .5), y: ($space-y-base * .5)) !default;
$space-md   : (x: $space-x-base, y: $space-y-base) !default;
$space-lg   : (x: ($space-x-base * 1.5), y: ($space-y-base * 1.5)) !default;
$space-xl   : (x: ($space-x-base * 3), y: ($space-y-base * 3)) !default;
$spaces: ('none': $space-none, 'xs': $space-xs, 'sm': $space-sm, 'md': $space-md, 'lg': $space-lg, 'xl': $space-xl) !default;


$font-family-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-size-default: 18px;
$font-weight-default: 400;
$font-color-default: $color-grey;
$line-height: 1.6;



$h1:        (size: 5rem,     line-height: 5rem,      font-weight: 700) !default;
$h2:        (size: 3.75rem,  line-height: 3.75rem,   font-weight: 700) !default;
$h3:        (size: 3rem,     line-height: 3.125rem,  font-weight: 400) !default;
$h4:        (size: 2.0rem,   line-height: 2.5rem,    font-weight: 400) !default;
$h5:        (size: 1.5rem,   line-height: 2rem,      font-weight: 400) !default;
$h6:        (size: 1.5rem,   line-height: 2rem,      font-weight: 400) !default;
$body:      (size: 1rem,     line-height: 1.75rem,   font-weight: 400) !default;
$p:         (size: 1rem,     line-height: 1.75rem,   font-weight: 400) !default;

$headings: ('h1': $h1, 'h2': $h2, 'h3': $h3, 'h4': $h4, 'h5': $h5, 'h6': $h6, 'body': $body, 'p': $p) !default;



$link-color-default: $color-green;
$link-color-hover-default: darken($color-green, 30%);
$link-decoration-default: none;
$link-decoration-hover-default: underline;


$background: $color-white;
$grid-column-gap: 20px;
$grid-content-width: 60ch;

$header-background: $color-white;
$header-height: 68px;


$navigation-background: $header-background;
$navigation-padding: 22px 16px;
$navigation-font-size: 18px;
$navigation-font-weight: 400;
$navigation-font-hover-weight: 700;
$navigation-color: $color-primary;
$navigation-color-hover: darken($color-primary, 30%);
$navigation-color-background: $color-grey-light;
$navigation-color-hover-background: $navigation-color-background;
$navigation-icon-background: $color-grey;
$navigation-icon-background-hover: $color-grey;
$navigation-divider: 1px solid $color-grey-light;
$navigation-divider-last: 1px solid $color-grey;

$footer-background: lighten($color-black, 10%);
$footer-height: 2.5rem;
$footer-font-size: $font-size-default;
$footer-title-color: $color-yellow;
$footer-color: $color-white;
$footer-navigation-color: $color-white;
$footer-navigation-color-hover: darken($color-white, 30%);


$social-font-size: 16px;
$social-color: $color-white;
$social-color-hover: darken($color-white, 30%);