@import '../../styles/variables';

.navigation {
  margin-left: -$grid-column-gap;
  margin-right: -$grid-column-gap;
  height: $header-height;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: $navigation-background;
    li {
      border-bottom: $navigation-divider;
      color: white;
      display: block;
      position: relative;
      &:hover {
        cursor: pointer;
      }
      &:hover > div > ul,
      &:focus-within > div > ul {
        visibility: visible;
        opacity: 1;
        display: block;
      }
      a {
        display: block;
        padding: $navigation-padding;
        text-decoration: none;
        font-size: $navigation-font-size;
        color: $navigation-color;
        font-weight: $navigation-font-weight;
        &[aria-current] {
          font-weight: $navigation-font-hover-weight;
          color: $navigation-color-hover;
        }
        &[aria-current="page"],
        &:hover {
          color: $navigation-color-hover;
          // background-color: $navigation-color-hover-background;
          &::after {
            height: 4px;
            opacity: 1;
            transform: translateY(0px);
            transition: height 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.3s ease 0s;
          }
        }
        &:last-child {
          margin-right: 0;
        }
        &::after {
          position: absolute;
          top: 64px;
          left: 0px;
          width: 100%;
          height: 4px;
          background-color:#da6327;
          content: "";
          opacity: 0;
          transform: translateY(0px);
        }
      }
      &:last-child {
        border-bottom: $navigation-divider-last;
      }
      ul {
        list-style: none;
        background-color: $navigation-background;
        min-width: 10rem;
        position: initial;
        transition: all 0.5s ease;
        left: 0;
        margin-left: 10px;
        li {
          clear: both;
          width: 100%;
          a {
            color: $navigation-color;
            text-decoration: none;
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .menu_btn:hover {
    background-color: $navigation-icon-background-hover;
  }
  .menu_icon {
    cursor: pointer;
    float: right;
    padding: 33px 20px;
    position: relative;
    user-select: none;
  }
  .menu_icon .nav_icon {
    background: $navigation-icon-background;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  .menu_icon .nav_icon:before,
  .menu_icon .nav_icon:after {
    background: $navigation-icon-background;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .menu_icon .nav_icon:before {
    top: 5px;
  }
  .menu_icon .nav_icon:after {
    top: -5px;
  }
  .menu_btn {
    display: none;
  }
  .menu_btn:checked ~ .menu {
    max-height: 500px;
  }
  .menu_btn:checked ~ .menu_icon .nav_icon {
    background: transparent;
  }
  .menu_btn:checked ~ .menu_icon .nav_icon:before {
    transform: rotate(-45deg);
  }
  .menu_btn:checked ~ .menu_icon .nav_icon:after {
    transform: rotate(45deg);
  }
  .menu_btn:checked ~ .menu_icon:not(.steps) .nav_icon:before,
  .menu_btn:checked ~ .menu_icon:not(.steps) .nav_icon:after {
    top: 0;
  }
}
@media (min-width: $breakpoint-md-max) {
  .navigation {
    margin-left: $grid-column-gap;
    margin-right: $grid-column-gap;
  }
  .navigation ul {
    overflow: visible;
    li {
      div,
      ul {
        position: absolute;
        margin-left: 0;
        visibility: hidden;
        opacity: 0;
        display: none;
        &:hover {
          visibility: visible;
          opacity: 1;
          display: block;
        }
      }
      &:hover > div,
      &:focus-within > div {
        visibility: visible;
        opacity: 1;
      }
      > div {
        position: relative;
        background-color: $navigation-background;
        border-radius: 0.4em;
        margin-top: 20px;
        width: 100%;
        display: inline-block;
        > ul {
          border-radius: 10px;
          border: 1px solid black;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 25%;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-bottom-color: #ffffff;
            border-top: 0;
            margin-left: -20px;
            margin-top: -20px;
            border-style: solid;
            border-color: black transparent;
          }
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 25%;
            width: 0;
            height: 0;
            margin-left: -19px;
            margin-top: -19px;
            border-style: solid;
            border-color: #fff transparent;
            border-width: 0 19px 19px;
            bottom: auto;
          }
          > li > a {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
  .navigation li {
    float: left;
    border-bottom: none !important;
    height: $header-height;
  }
  .navigation li a {
    padding: 20px 30px;
  }
  .navigation .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navigation .menu_icon {
    display: none;
  }
}
