@import '../styles/variables';

.contact_container {
  p + form {
    margin-top: $space-md;
  }
  form {
    background-color: $form-background;
    padding: $form-padding;
    border: $form-border;
    border-radius: $form-border-radius;
    label {
      display: block;
      margin-bottom: 0.5rem;
      color: $form-label-color;
    }
    textarea {
      margin-bottom: 1.5rem;
    }
  }
  &__submit {
    display: flex;
    justify-content: flex-end;
  }
}
