@import '../styles/variables';

.events {
  .event {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: $grid-column-gap;
    margin-bottom: 1.5rem;
    // padding-bottom: 1.5rem;
    background-color: white;
    border-radius: 0;
    box-shadow: 3px 3px 8px 2px rgb(0 0 0 / 8%);
    transition: all 0.5s;
    &:hover {
      box-shadow: 3px 3px 8px 2px rgb(0 0 0 / 20%);
      transition: all 0.5s;
    }
    &_date {
      padding: 10px;
      &__day {
        line-height: unset;
      }
      &__month_year {
        color: $font-color-default;
      }
    }
    &_text {
      padding: 10px;
      // h3 {
      //   color: $color-secondary;
      // }
      &__button {
        margin-top: 16px;
      }
    }
    &_image {
      // padding: 10px;
      div {
        // margin-top: 16px;
        height: 100%;
      }
    }
  }
}

@media (min-width: $breakpoint-md-max) {
  .events {
    .event {
      grid-template-columns: 1fr 50% 30%;
      border-radius: 0;
      box-shadow: 3px 3px 8px 2px rgb(0 0 0 / 8%);
      transition: all 0.5s;
      &_date {
        &__day {
          line-height: unset;
          display: block;
        }
        &__month_year {
          color: $font-color-default;
        }
      }
      &_text {
        .button {
          margin-top: 16px;
        }
      }
      &_image {
        div {
          margin-top: 0;
        }
      }
    }
  }
}
